<div class="hot-props">
   <div class="container">
       <h1>Hot properties</h1>
       <div class="featured">

           {{#each projects}}
            <div>
                <img src="{{this.Image}}" alt="">
                <h4>{{this.Name}}</h4>
                <p class="lead">{{this.Location}}</p>
                <p>{{this.Type}}</p>
            </div>
            {{/each}}
       </div>
   </div> 
</div>
<div class="about" id="about">
    <div class="container">
        <h2>About Us</h2>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione distinctio animi nisi quaerat veniam laboriosam magnam provident quas sit omnis ipsum corporis quis dolore neque, cumque deleniti? Animi, voluptates ut?
        </p>
    </div>
</div>
<footer id="footer">
    <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-12">
            <h5>&copy;Companyname</h5>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-12">
            
        </div>
        <div class="col-md-4 col-xs-12 col-sm-12">

        </div>
    </div>
</footer>