
   <div class="wrapper">
     {{#each projects}}
     <div class="type-text">
      <h5>{{this.type}}</h5>
     <h6> {{this.Name}}</h6>
     <h6>{{this.location}}</h6>

     </div>
     <div class="showcase">
     <img src="{{this.Image}}" alt="">
     </div>

     {{/each}}
   </div>
