.wrapper
{
  display: grid;

  grid-template-areas:
  'showcase showcase type-text'
  'showcase showcase type-text-1';
  grid-gap: 1.2em;
  margin-top: 15vh;
}
.showcase
{
  grid-area:showcase;
  display: grid;
  /*flex-direction: column;*/

}

.type-text
{
  grid-area:type-text;
  padding-right: 15px;
  margin-top: 15vh;
  justify-content:flex-start;
  padding-top: 8vh;
  width: 100%;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  max-height: 205px;
  margin-right: 5vh;
  padding-left: 15px;
}
.type-text-1
{
  grid-area: type-text-1;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  justify-content:flex-start;
  padding-left:3px;
  padding-right: 3px;
  max-height: 205px;

}
