.wrapper
{
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  'showcase showcase type-text';

  margin-top: 15vh;
}
.showcase
{
  grid-area: showcase;
  display: grid;
  /*flex-direction: column;*/

}

.type-text
{
  grid-area:type-text;
  display: grid;
  text-align: center;
  margin-left: 5px;
  margin-top: 25vh;
  align-items: center;
  width: 100%;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 2rem 2rem 2rem;
  max-height: 205px;

}
